In [2]:
import fastf1
import pandas as pd

In [22]:
# load specific race
session = fastf1.get_session(2025, 'Qatar', 'R')
session.load()

events      WARNING 	Correcting user input 'Qatar' to 'Qatar Grand Prix'
core           INFO 	Loading data for Qatar Grand Prix - Race [v3.7.0]
req            INFO 	No cached data found for session_info. Loading data...
_api           INFO 	Fetching session info data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for driver_info. Loading data...
_api           INFO 	Fetching driver list...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for session_status_data. Loading data...
_api           INFO 	Fetching session status data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for lap_count. Loading data...
_api           INFO 	Fetching lap count data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for track_status_data. Loading data...
_api           INFO 	Fetching track status data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for _extended_timing_data. Loading data...
_api           INFO 	Fetching timing data...
_api           INFO 	Parsing timing data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for timing_app_data. Loading data...
_api           INFO 	Fetching timing app data...
req            INFO 	Data has been written to cache!
core           INFO 	Processing timing data...
req            INFO 	No cached data found for car_data. Loading data...
_api           INFO 	Fetching car data...
_api           INFO 	Parsing car data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for position_data. Loading data...
_api           INFO 	Fetching position data...
_api           INFO 	Parsing position data...
_api        WARNING 	Driver 241: Position data is incomplete!
_api        WARNING 	Driver 242: Position data is incomplete!
_api        WARNING 	Driver 243: Position data is incomplete!
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for weather_data. Loading data...
_api           INFO 	Fetching weather data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for race_control_messages. Loading data...
_api           INFO 	Fetching race control messages...
req            INFO 	Data has been written to cache!
core           INFO 	Finished loading data for 20 drivers: ['1', '81', '55', '4', '12', '63', '14', '16', '30', '22', '23', '44', '5', '43', '31', '10', '18', '6', '87', '27']

In [23]:
lap_times = session.laps

In [24]:
df = pd.DataFrame(lap_times)
data_base = df[['Driver','LapTime','LapNumber','Stint','Compound','TrackStatus']]

In [25]:
data_base.dtypes

Driver                  object
LapTime        timedelta64[ns]
LapNumber              float64
Stint                  float64
Compound                object
TrackStatus             object
dtype: object

‘1’: Track clear (beginning of session or to indicate the end
of another status)

‘2’: Yellow flag (sectors are unknown)

‘3’: ??? Never seen so far, does not exist?

‘4’: Safety Car

‘5’: Red Flag

‘6’: Virtual Safety Car deployed

‘7’: Virtual Safety Car ending (As indicated on the drivers steering wheel, on tv and so on; status ‘1’ will mark the actual end)

In [ ]:
# only select where race is running
data_base[data_base['TrackStatus'] == '1']

     Driver                LapTime  LapNumber  Stint Compound TrackStatus
0       VER 0 days 00:01:28.940000        1.0    1.0   MEDIUM           1
1       VER 0 days 00:01:27.349000        2.0    1.0   MEDIUM           1
2       VER 0 days 00:01:27.511000        3.0    1.0   MEDIUM           1
3       VER 0 days 00:01:27.324000        4.0    1.0   MEDIUM           1
4       VER 0 days 00:01:26.843000        5.0    1.0   MEDIUM           1
...     ...                    ...        ...    ...      ...         ...
1062    BEA 0 days 00:01:25.451000       37.0    3.0     HARD           1
1063    BEA 0 days 00:01:25.577000       38.0    3.0     HARD           1
1064    BEA 0 days 00:01:25.337000       39.0    3.0     HARD           1
1065    BEA 0 days 00:01:30.153000       40.0    3.0     HARD           1
1066    BEA 0 days 00:02:01.134000       41.0    4.0     HARD           1

[991 rows x 6 columns]

In [ ]:
# create mean of laptime
mean = data_base.groupby('Driver', as_index=False)['LapTime'].mean()
mean.sort_values('LapTime', ascending=True)

   Driver                   LapTime
19    VER 0 days 00:01:29.091947368
14    PIA 0 days 00:01:29.232210526
9     HUL 0 days 00:01:29.414666666
13    OCO 0 days 00:01:29.486509090
16    SAI 0 days 00:01:29.489578947
12    NOR 0 days 00:01:29.500982456
2     ANT 0 days 00:01:29.588736842
15    RUS 0 days 00:01:29.944561403
1     ALO 0 days 00:01:30.040105263
11    LEC 0 days 00:01:30.088175438
10    LAW 0 days 00:01:30.145859649
18    TSU 0 days 00:01:30.175631578
7     HAD 0 days 00:01:30.248092592
0     ALB 0 days 00:01:30.266175438
8     HAM 0 days 00:01:30.455631578
4     BOR 0 days 00:01:30.579877192
5     COL    0 days 00:01:30.741500
6     GAS 0 days 00:01:30.771107142
17    STR 0 days 00:01:31.185509090
3     BEA 0 days 00:01:33.509560975

   Driver                   LapTime
19    VER 0 days 00:01:29.091947368
14    PIA 0 days 00:01:29.232210526
9     HUL 0 days 00:01:29.414666666
13    OCO 0 days 00:01:29.486509090
16    SAI 0 days 00:01:29.489578947
12    NOR 0 days 00:01:29.500982456
2     ANT 0 days 00:01:29.588736842
15    RUS 0 days 00:01:29.944561403
1     ALO 0 days 00:01:30.040105263
11    LEC 0 days 00:01:30.088175438
10    LAW 0 days 00:01:30.145859649
18    TSU 0 days 00:01:30.175631578
7     HAD 0 days 00:01:30.248092592
0     ALB 0 days 00:01:30.266175438
8     HAM 0 days 00:01:30.455631578
4     BOR 0 days 00:01:30.579877192
5     COL    0 days 00:01:30.741500
6     GAS 0 days 00:01:30.771107142
17    STR 0 days 00:01:31.185509090
3     BEA 0 days 00:01:33.509560975